# Choose one provider: waqi or iqair
VITE_AIR_PROVIDER=waqi

# WAQI is the best fit for station-based Bangkok polygons
VITE_WAQI_TOKEN=your_waqi_token_here
# 24c42979572be8b778551fb998d7ed057162eff7
# Optional: IQAir support for seeded-point updates
VITE_IQAIR_API_KEY=4c0c866b-2e22-4bca-a557-9b37b82dac0b
